PORT=3000

# Facebook Configuration
FB_PAGE_ACCESS_TOKEN=EAAOQNoOJHV8BQx9zOdms2bhYeMzhOdwepVqg5iWZASQatNvqV2kKBW90iPASRqsbglnvKxb6LmdCeiFYk12z51DxxCkY39Yd0zU0m311xuE6SiZCfrnw4NVYd3VlmbAlRwwe8HZAj2gFbjrDeZB0WZALrDGLK79dNKL1ZAusNKGpCBzBvzy5ZCJm54ZAuwJIg9pAmIWzeobXSusZD
FB_VERIFY_TOKEN=slovvlike121005
FB_APP_SECRET=cf14ee929d61eea7a6a4db2dca78d503

# LINE Configuration
LINE_CHANNEL_ACCESS_TOKEN=your_line_channel_access_token
LINE_CHANNEL_SECRET=your_line_channel_secret

# Database
DATABASE_URL=mongodb+srv://username:password@cluster.mongodb.net/dbname
# For PostgreSQL: postgresql://user:password@localhost:5432/dbname

# Node Environment
NODE_ENV=development

# Log Level
LOG_LEVEL=debug
